@import 'global';

header{
    background-color: #4a90e2;
    height: 76px;
    ul{
        height: 100%;
        width: 60vw;
        margin-left: 20vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        a{
            font-size: 24px;
            font-family: Roboto-Medium;
            background: transparent;
            color: #00408B;
            border: none;
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }

        }
    }
}
.containers{
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .inputEvent{
        margin-top: 24px;
        width: 620px;
        height: 65px;
    }
    ul{
        width: 620px;
        margin-top: 24px;
        li{
            margin: 5px 0 0 5px;
            height: 102px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            input{
                margin: 24px 0 0 32px;
            }
            .listDetail{
                margin: 24px 40% 0 0;
                display: flex;
                flex-flow: column;
                i{
                    margin: 0 5px 0;
                }
            }
            .fa-pencil-alt{
                margin: 24px 32px 0 32px ;
            }
        }
        .stared{
            background-color: #FFF2DC;
            .fa-star{
                color: #F5A623;
            }
        }
        .noneStared{
            background-color: #F2F2F2;
        }
    }
    .taskLeft{
        font-family: Roboto;
        font-style: Italic;
        color: #C8C8C8;
    }
}
